<div class="card" [ngClass]="('card-type-' + content.type)">
    <h1>{{content.title}}</h1>

    <div>
        <strong>Image:</strong>
        <img [src]="content.imgURL || 'assets/Images/no_image.jpg'" width="150" height="150" (click)="handleClick(content)" alt="{{content.title}}" />
    </div>


    <div>
        <strong>Description:</strong>
        {{content.description}}
    </div>

    <div>
        <strong>Creator:</strong>
        {{content.creator}}
    </div>

    <div *ngIf="content.type">
        <strong>Type:</strong>
        <span [appHoverAffect]="'text-decoration'">
            {{content.type}}
        </span>
    </div>

    <div *ngIf="content.tags">
        <strong>Tags:</strong>

        <div>
            <span *ngFor="let tagItem of content.tags;" class="badge" [appHoverAffect]="'font-weight'">
                {{tagItem}}
            </span>
        </div>
    </div>
</div>