<div>
    <div class="card">
        <h1>{{content.title}}</h1>
    
        <div *ngIf="content.imgURL">
          <strong>Image:</strong>
          <img src="{{content.imgURL}}" width="150" height="150" (click)="handleClick(content)" alt="{{content.title}}" />
        </div>
    
    
        <div>
          <strong>Description:</strong>
          {{content.description}}
        </div>
    

          <strong>Creator:</strong>
          {{content.creator}}
        </div>
    

        <div *ngIf="content.type">
          <strong>Type:</strong>
          {{content?.type}}
        </div>
    
        
        <div *ngIf="content.tags">
          <strong>Tags:</strong>
    
          <div>
            <span *ngFor="let tagItem of content.tags;" class="badge">
              {{tagItem}}
            </span>
          </div>
        </div>
      </div>